# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
/.angular/cache
/dist/out-tsc
/dist/test-out

# Don't check in production Android builds
PasswordMaker.apk
# Prior to Aug 2025 we had some subset of output metadata checked in but not baselines and not up to date? Seems better
# to exclude the whole folder.
/android/app/release

# Or iOS profile
PasswordMaker_App_Store_provisioning.mobileprovision

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
