/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# For now, don't check in package.json because the Cloud Settings Cordova plugin puts
# the Android backup service key there. The previous `package.json` combined with
# the live `package-lock.json` hopefully provides enough for other contributors to
# work with the project for now.
/package.json

# Don't check in production Android builds
PasswordMaker.apk

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
