{
  "name": "passwordmaker",
  "author": "Webful Ltd",
  "homepage": "https://passwordmaker.webful.uk/",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "test:once": "ng test --watch=false",
    "lint": "ng lint",
    "e2e": "ng e2e",
    "ci": "npm run lint && npm run test:once && npm run e2e",
    "update-webdriver": "cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../.. && ./node_modules/.bin/webdriver-manager update"
  },
  "license": "GPL-3.0-or-later",
  "private": false,
  "dependencies": {
    "@angular/common": "^12.2.14",
    "@angular/core": "^12.2.14",
    "@angular/forms": "^12.2.14",
    "@angular/platform-browser": "^12.2.14",
    "@angular/platform-browser-dynamic": "^12.2.14",
    "@angular/router": "^12.2.14",
    "@capacitor/android": "^3.3.3",
    "@capacitor/app": "1.0.7",
    "@capacitor/browser": "^1.0.6",
    "@capacitor/clipboard": "^1.0.6",
    "@capacitor/core": "3.3.3",
    "@capacitor/haptics": "1.1.3",
    "@capacitor/ios": "^3.3.3",
    "@capacitor/keyboard": "1.2.0",
    "@capacitor/status-bar": "1.0.6",
    "@ionic-native/cloud-settings": "^5.31.1",
    "@ionic-native/core": "^5.31.1",
    "@ionic/angular": "^6.0.0",
    "@ionic/storage-angular": "^3.0.2",
    "@webful/passwordmaker-lib": "~0.1.2",
    "2ldcheck": "~0.0.6",
    "cordova-android": "^9.0.0",
    "cordova-ios": "^6.2.0",
    "cordova-plugin-cloud-settings": "^1.0.4",
    "core-js": "^2.6.12",
    "localforage": "^1.9.0",
    "localforage-cordovasqlitedriver": "^1.8.0",
    "rxjs": "^6.6.3",
    "rxjs-compat": "^6.6.3",
    "tslib": "^1.14.1",
    "url-parse": "^1.4.7"
  },
  "devDependencies": {
    "@angular-devkit/architect": "^0.1202.14",
    "@angular-devkit/build-angular": "^12.2.14",
    "@angular-devkit/core": "^12.2.14",
    "@angular-devkit/schematics": "^12.2.14",
    "@angular/cli": "^12.2.14",
    "@angular/compiler": "^12.2.14",
    "@angular/compiler-cli": "^12.2.14",
    "@angular/language-service": "^12.2.14",
    "@capacitor/cli": "3.3.3",
    "@ionic/angular-toolkit": "^5.0.3",
    "@types/jasmine": "^3.6.7",
    "@types/jasminewd2": "^2.0.8",
    "@types/node": "^14.14.36",
    "codelyzer": "^6.0.1",
    "cordova-sqlite-storage": "github:litehelpers/Cordova-sqlite-storage",
    "ionic-mocks": "^1.3.0",
    "jasmine-core": "^3.7.1",
    "jasmine-spec-reporter": "^6.0.0",
    "karma": "^6.3.0",
    "karma-chrome-launcher": "^3.1.0",
    "karma-coverage-istanbul-reporter": "^3.0.3",
    "karma-jasmine": "^4.0.1",
    "karma-jasmine-html-reporter": "^1.5.4",
    "protractor": "^7.0.0",
    "ts-node": "^9.1.1",
    "tslint": "~6.1.3",
    "typescript": "^4.1.5",
    "zone.js": "^0.11.4"
  },
  "engines": {
    "node": "^12.14.1 || >=14.0.0",
    "npm": "^6.11.0 || ^7.5.6"
  },
  "description": "Deterministically generate per-site passwords on your phone & the web",
  "cordova": {
    "plugins": {
      "cordova-plugin-cloud-settings": {
        "ANDROID_BACKUP_SERVICE_KEY": "xxx"
      }
    },
    "platforms": [
      "ios",
      "android"
    ]
  }
}
