// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toast.error > .toast-wrapper {
  background: var(--ion-color-danger);
}

ion-title {
  color: var(--ion-color-primary-contrast);
}

.warning {
  background: var(--ion-color-danger);
  color: var(--ion-color-primary-contrast);
  border: solid 1px var(--ion-color-danger-shade);
  padding: 1em;
}
