// http://ionicframework.com/docs/theming/
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// https://ionicframework.com/docs/theming/dark-mode#system
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  ion-input, ion-select, ion-textarea {
    --highlight-color-valid: var(--ion-color-primary);
  }

  ion-title {
    color: var(--ion-color-primary-contrast);
  }

  ion-toast.error {
    --background: var(--ion-color-danger);
    --button-color: var(--ion-color-danger-contrast) ;
    --color: var(--ion-color-danger-contrast);
  
    &::part(button) {
      color: var(--ion-color-danger-contrast);
    }
  } 
}

p > ion-icon {
  vertical-align: sub;
}

p.help, p.warning {
  width: 100%;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  font-size: 12.8px;
}

p.help {
  background: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);

  a {
    color: var(--ion-color-medium-contrast);
  }
}

p.warning {
  background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
}

/*
 * Dark Colors – Adapted from https://ionicframework.com/docs/theming/dark-mode#ionic-dark-theme
 * with some existing light mode colours kept as they are.
 */
body.dark {
  // We use the dark purple and quite dark pink as our primary + secondary colours
  // in dark mode *but* swap them, for better visiblity on things like the tab bar.
  --ion-color-primary: #ff4f79;
  --ion-color-primary-rgb: 255,79,121;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #cc4066;
  --ion-color-primary-tint: #ff6686;

  --ion-color-secondary: #a11692;
  --ion-color-secondary-rgb: 161,22,146;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #a10092;
  --ion-color-secondary-tint: #bb16aa;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  // Keep default mid pink 'danger' colour same as light mode.

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}
