<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Make a Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-input
        label="URL or domain"
        labelPlacement="floating"
        name="host"
        [(ngModel)]="input.host"
        inputmode="url"
        type="text"
        (ionInput)="update()"
        (keyup.enter)="hideKeyboard()"
      ></ion-input>
    </ion-item>
    <p class="help">
      <ion-icon name="information-circle-outline"></ion-icon>
      Which site or app are you logging into? e.g. <em>when.fm</em>
    </p>
    <ion-item>
      <ion-input
        label="Master password"
        labelPlacement="floating"
        name="master_password"
        [(ngModel)]="input.master_password"
        inputmode="password"
        type="password"
        (ionInput)="update()"
        (keyup.enter)="hideKeyboard()"
      ></ion-input>
    </ion-item>
    <p class="help">
      <ion-icon name="information-circle-outline"></ion-icon>
      Think of it as your digital skeleton key &ndash; a super secret, memorable password, that will enable you
      to generate and recall separate login details for each service you use
    </p>

    @if (non_domain_warning) {
      <p class="warning">
        <ion-icon name="warning"></ion-icon>
        Your <em>URL or domain</em> doesn't look one. If it is, for example, an app name, you can use that as long
        as it's <em>exactly</em> the same each time, but it may be easier to use a related domain name, e.g.
        <em>spotify.com</em> instead of <em>spotify</em>.
      </p>
    }

    @if (advanced_mode) {
      <ion-item>
        <ion-select
          interface="popover"
          label="Profile"
          labelPlacement="stacked"
          name="profile"
          (ionChange)="switchProfile($event)"
          [(ngModel)]="input.active_profile_id"
        >
          @for (profile of advancedSettings.profiles; track profile.profile_id) {
            <ion-select-option
              [value]="profile.profile_id"
            >{{ profile.name }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    }

    @if (literal_input_warning) {
      <p class="warning">
        <ion-icon name="warning"></ion-icon>
        Because you have <em>Use just domain name?</em> switched off in Settings, every URL you
        enter will give you a different password - your input is <em>literal</em>. If you
        didn't change this on purpose it may mean you can't use your passwords.
      </p>
    }

    @if (output_password) {
      <div>
        <ion-item class="output_password_outer">
          <ion-label position="stacked">Per-site password</ion-label>
          <div class="output_password">{{ output_password }}</div>
        </ion-item>
        @if (clipboard_available) {
          <ion-button (click)="copy()" color="primary" expand="block">
            <ion-icon slot="start" name="copy"></ion-icon>
            Copy
          </ion-button>
        }
      </div>
    }
    @if (!output_password) {
      <p>Fill out the above fields to generate a unique, secure password for each service you register with online.</p>
    }

    @if (master_password_hash) {
      <div>
        <ion-item class="output_password_outer">
          <ion-label position="stacked">Hash of password</ion-label>
          <div>{{ master_password_hash }}</div>
        </ion-item>
      </div>
    }
  </form>
</ion-content>
