<ion-header no-border>
  <ion-toolbar>
    <ion-title>Make a Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating">URL or domain</ion-label>
      <ion-input
        name="host"
        [(ngModel)]="input.host"
        inputmode="url"
        type="text"
        (ionChange)="updatePassword()"
        (keyup.enter)="hideKeyboard()"
      ></ion-input>
    </ion-item>
    <p class="help">
      <ion-icon name="information-circle-outline"></ion-icon>
      Which site or app are you logging into? e.g. <em>when.fm</em>
    </p>
    <ion-item>
      <ion-label position="floating">Master password</ion-label>
      <ion-input
        name="master_password"
        [(ngModel)]="input.master_password"
        inputmode="password"
        type="password"
        (ionChange)="updatePassword()"
        (keyup.enter)="hideKeyboard()"
      ></ion-input>
    </ion-item>
    <p class="help">
      <ion-icon name="information-circle-outline"></ion-icon>
      Think of it as your digital skeleton key &ndash; a super secret, memorable password, that will enable you
      to generate and recall separate login details for each service you use
    </p>

    <p *ngIf="non_domain_warning" class="warning">
      <ion-icon name="warning"></ion-icon>
      Your <em>URL or domain</em> doesn't look one. If it is, for example, an app name, you can use that as long
      as it's <em>exactly</em> the same each time, but it may be easier to use a related domain name, e.g.
      <em>spotify.com</em> instead of <em>spotify</em>.
    </p>

    <p *ngIf="literal_input_warning" class="warning">
      <ion-icon name="warning"></ion-icon>
      Because you have <em>Use just domain name?</em> switched off in Settings, every URL you
      enter will give you a different password - your input is <em>literal</em>. If you
      didn't change this on purpose it may mean you can't use your passwords.
    </p>

    <div *ngIf="output_password">
      <ion-item class="output_password_outer">
        <ion-label position="stacked">Per-site password</ion-label>
        <div class="output_password">{{ output_password }}</div>
      </ion-item>
      <ion-button *ngIf="clipboard_available" icon-start (click)="copy()" color="primary" expand="block">
        <ion-icon name="copy"></ion-icon>
        Copy
      </ion-button>
    </div>
    <p *ngIf="!output_password">Fill out the above fields to generate a unique, secure password for each service you register with online.</p>
  </form>
</ion-content>
