p.help, p.warning {
  border-radius: 0 0 4px 4px;
}

p.help {
  border-top: solid 2px var(--ion-color-secondary);
}

.output_password {
  width: 100%;
  padding: 0.5em;
}

.output_password_outer {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
}

.output_password {
  background: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  border-radius: 4px;
  margin-top: 5px;
  text-align: left;
}

p.warning {
  border-top: solid 2px var(--ion-color-danger-shade);
}
