p.help, p.warning {
  border-radius: 4px 4px 0 0;
}

p.help {
  border-bottom: solid 2px var(--ion-color-secondary);
}

p.warning {
  border-bottom: solid 2px var(--ion-color-danger-shade);
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.button-divider {
  margin: 1rem;
  text-align: center;
  color: #777;
  font-size: 80%;
}
