p.help, p.warning {
  border-radius: 4px 4px 0 0;
}

p.help {
  border-bottom: solid 2px var(--ion-color-secondary);
}

p.input-help {
  border-bottom-width: 0;
  border-top: solid 2px var(--ion-color-secondary);
  border-radius: 0 0 4px 4px;
}

p.warning {
  border-bottom: solid 2px var(--ion-color-danger-shade);
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.button-divider {
  margin: 1rem;
  text-align: center;
  color: #777;
  font-size: 80%;
}

.minor {
  font-size: 80%;
  text-align: right;
}

.import-export-section {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--ion-color-light-shade);

  ion-button {
    margin-bottom: 0.5rem;
  }
}
